VPS = "true"
ALWAYS_ONLINE = "false"
LOG_MSG = "true"
SUDO = "2348104531844"
PREFIX = "#"
STICKER_PACKNAME = "Gift🖤"
RMBG_KEY = "null"
LANGUAG = "en"
WARN_LIMIT = "3"
FORCE_LOGOUT = "false"
DISABLE_BOT = "null"
ANTILINK_MSG = "Antilink Detected &mention kicked"
ANTISPAM_MSG = "Antispam Detected &mention kicked"
ANTIWORDS_MSG = "Antiword Detected &mention kicked"
ANTIWORDS = "word1,word2,word3"
SS_TOKEN = ""
REJECT_CALL = "false"
AUTO_STATUS_VIEW = "false"
SEND_READ = "false"
AJOIN = "false"
PERSONAL_MESSAGE = "null"
DISABLE_START_MESSAGE = "true"
AUTO_UPDATE = "true"
